.breadcrumb {
  color: #979797;
  display: flex;
  &-name {
    cursor: pointer;
    margin: 0 4px;
    color: #979797;
    &.current {
      color: #262626;
      font-weight: 600;
      cursor: inherit;
    }
  }
}
