.workflow {
  &-main {
    width: 100%;
    &-forms {
      &-items {
        display: flex;
        gap: 64px;

        .item {
          width: 100%;
          &-switch {
            display: flex;
            align-items: center;
            margin-top: 24px;
            &-label {
              margin-right: 4px;
              font: normal normal bold 14px / 20px Inter;
              letter-spacing: 0px;
              color: #262626;
            }
          }
        }
        &.textarea {
          margin-top: 30px;
        }
      }

      &-buttons {
        margin-top: 30px;
        display: flex;
        justify-content: flex-end;
      }
    }
    &-texts {
      .title {
        font: normal normal normal 14px/20px Space Mono;
        color: #666666;
      }
      .description {
        font: normal normal normal 14px/20px Inter;
        color: #262626;
      }
      h1 {
        font: var(--unnamed-font-style-normal) normal
          var(--unnamed-font-weight-bold) var(--unnamed-font-size-20) /
          var(--unnamed-line-spacing-26) var(--unnamed-font-family-inter);
      }
    }
  }
}
